.bg-custom{
    background-image: url(https://images.unsplash.com/photo-1528698827591-e19ccd7bc23d?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8c3RvcmV8ZW58MHx8MHx8fDA%3D);
    background-size:cover;
    background-position: center;
    background-repeat:no-repeat;
    height: 500px;
}

.bg-front{
    background-color:rgba(0, 0, 0, 0.553);
    height: 100%;
    height: 100%;
    
}